<!-- Copyright -->
<div class="copyright">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2">
        <ul class="mb-4 list-unstyled p-small">
            <li class="mb-2"><a href="/jaime/terms">Conditions d'utilisation</a></li>
            <li class="mb-2"><a href="/jaime/privacy">Vie privée</a></li>
            <li class="mb-2">
                <a href="{{ config.repo_url }}" target="_blank">
                    <i class="fab fa-gitlab"></i> Code source
                </a>
            </li>
        </ul>
        <p class="pb-4 p-small statement">Copyright © <a href="https://dane.web.ac-grenoble.fr" class="no-underline">DRANE Académie de Grenoble</a></p>
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->