{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header py-6 text-center lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-1 lg:gap-x-8"><h1 class="h1-large text-center">JAIME</h1><h1 class="h1-small text-center">Journée Académique Inspirante Moodle Éléa</h1></div>
        <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
        <div class="mb-16 lg:mt-10 xl:mt-10 xl:mr-12 col-span-2">
            <h2 class="h2-large mb-8 text-center">Mardi 5 mars 2023</h2>
            <p class="p-large mb-8 text-center lg:mt-10 xl:mt-10 ">Une journée pour découvrir et échanger autour de ressources et des usages, sous le thème de la e-éducation.</p>
            <p><a class="btn-solid-lg" href="programme/"><i class="fa-regular fa-calendar-days"></i>Programme</a></p>
            <iframe title="JAIME Éléa ouverture de la journée" width="560" height="315" src="https://tube-numerique-educatif.apps.education.fr/videos/embed/0d1ca491-d504-4c9f-8d58-45e5cfc0f7c8" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
            
        </div>
        <div class="xl:text-right lg:mt-10 xl:mt-10 ">
            <img class="inline" src="/jaime/images/banniere_jam.jpg" alt="alternative" />
        </div>
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<!-- VARIABLE INIT : DO NOT REMOVE
{% set ateliers = [] %}
{% for nav_item in nav %}
    {% if nav_item.children and 'Ateliers' in nav_item.title %}
        {% for nav_item_child in nav_item.children %}
            {% if nav_item_child.meta is defined and 'E001DB' not in nav_item_child.url %}
                {{ ateliers.append(nav_item_child) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
-->

<!-- Testimonials -->
<div class="slider-1 py-12 bg-gray">
    <div class="container px-4 sm:px-8">
        <h2 id="nos-ateliers" class="mb-12 text-center lg:max-w-xl lg:mx-auto">Les ateliers proposés</h2>

        <!-- Card Slider -->
        <div class="slider-container">
            <div class="swiper-container card-slider">
                <div class="swiper-wrapper">
                    {% for atelier in ateliers %}
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <a class="card" href="{{ atelier.url | url }}">
                                <img class="card-image" src="{{ atelier.meta.thumb | url }}" alt="Image atelier {{ atelier.title }}" />
                                <div class="card-body">
                                    <p class="testimonial-author">{{ atelier.title }}</p>
                                </div>
                            </a>
                        </div> <!-- end of swiper-slide -->
                        <!-- end of slide -->
                    {% endfor %}
                </div> <!-- end of swiper-wrapper -->

                <!-- Add Arrows-->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
        <!-- end of card slider -->

    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->

<div class="py-8">
    <div class="container px-4 sm:px-8">
        <h3 class="mb-2 text-center lg:max-w-xl lg:mx-auto">Liste de diffusion académique</h3>
        <p class="text-center p-large mb-4">Pour recevoir les actualités à propos de l'application Éléa, des ressources partagées et des formations associées.</p>
        <form action="https://listes.ac-grenoble.fr/sympa/subscribe/elea" class="justify-center mt-4 flex">
            <input type="submit" value="S'abonner" class="ml-2 cursor-pointer text-white bg-indigo-900 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-500 font-medium rounded text-sm px-5 py-2.5 text-center" >
        </form>
    </div> <!-- end of container -->
</div>

{% endblock %}

{% block content %}
{% endblock %}

