{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="mb-16 mt-16 xl:mr-12">
            <h1 class="h1-large mb-5"> ℹ️ Informations pratiques</h1>
            <p class="p-large mb-8"><details><summary>Quels horaires ?</summary>
                de 9h30 à 16h30</p></details>
            <p class="p-large mb-8"><details><summary>Comment venir à la MACI ?</summary>
                Privilégier les transports en commun : TRAM B,C,D,E Arrêt Gabriel FAURÉ</p></details>
            <p class="p-large mb-8"><details><summary>Où manger ?</summary>
                    Un ticket vous sera distribué à votre arrivée, avec le lieu du restaurant universitaire qui vous est attribué, les deux sont à très proches de la MACI</p></details>
            <p class="p-large mb-8"><details><summary>Est-ce que ce sera enregistré et est-ce que les supports de présentation seront partagés ?</summary>
                        Les présentations dans l'amphi seront enregistrées et diffusées sur ce site, les diaporamas également</p></details>
            <p class="p-large mb-8"><details><summary>Comment se connecter au WIFI ?</summary>
                    Vous devez utiliser le réseau eduroam avec vos identifiants académiques, la procédure est décrite ici:
                    <a href="https://www1.ac-grenoble.fr/article/eduroam-122409"><u>https://www1.ac-grenoble.fr/article/eduroam-122409</u></a></p></details>
                            <p class="p-large mb-8"><details><summary>Quels prolongements à cette journée ?</summary>
                Un parcours M@gistère est ouvert pour prolonger les échanges ou pour demander davantage d'éléments aux animateurs d'atelier</p></details>
        </div>
        <div class="xl:text-right">
            <img class="inline" src="/jaime/images/infos_pratiques.jpg" alt="alternative" />
        </div>
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

{{ super() }}

{% endblock %}

{% block content %}
{% endblock %}
