{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header py-6 text-center lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-1 lg:gap-x-8"><h1 class="h1-small text-center">{{ page.meta.title }}</h1></div>
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
        <div class="mb-16 lg:mt-10 xl:mt-10 xl:mr-12 col-span-2">
            <button class="btn-solid-lg">{{ page.meta.horaire }}</button>
            <p class="p-large mb-8">{{ page.meta.description }}</p>
            {{page.meta.presentation}}
        </div>
        <div class="xl:text-right lg:mt-10 xl:mt-10 ">
            <img class="inline" src="{{ page.meta.img }}" alt="Screenshot {{ page.meta.title }}" />
        </div>
        <div class="mb-16 lg:mt-10 xl:mt-10 xl:mr-12 col-span-2">
            <p class="p-large mb-8">{{ page.meta.anim }}</p>
        </div>
</header> <!-- end of header -->

<div class="container px-4 sm:px-8">
    <article class="prose lg:prose-xl" style="max-width:max-content;">
        {{ super() }}
    </article>
</div>


{% endblock %}

{% block content %}
{% endblock %}
