<!-- Navigation -->
<nav class="navbar fixed-top">
    <div class="container sm:px-4 lg:px-8 flex flex-wrap items-center justify-between lg:flex-nowrap">

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="text-gray-800 font-semibold text-3xl leading-4 no-underline page-scroll" href="home.html">Pavo</a> -->

        <!-- Image Logo -->
        <a class="inline-block mr-4 py-0.5 text-xl whitespace-nowrap hover:no-underline focus:no-underline" href="/jaime/">
            <img src="/jaime/images/jaime_elea.png" alt="alternative" class="h-10" />
        </a>

        <button class="background-transparent rounded text-xl leading-none hover:no-underline focus:no-underline lg:hidden lg:text-gray-400" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon inline-block w-8 h-8 align-middle"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse lg:flex lg:flex-grow lg:items-center" id="navbarsExampleDefault">
            <ul class="pl-0 mt-3 mb-2 ml-auto flex flex-col list-none lg:mt-0 lg:mb-0 lg:flex-row">
                {% for nav_item in nav %}
                {% if nav_item.children %}
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ nav_item.title }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            {% for nav_item_child in nav_item.children %}
                                {% if nav_item_child.children %}
                                <a class="dropdown-item" href="{{ nav_item_child.children[0].url | url }}">
                                    {{ nav_item_child.title }}
                                </a>
                                {% else %}
                                <a class="dropdown-item" href="{{ nav_item_child.url | url }}">
                                    {{ nav_item_child.title }}
                                </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                <li class="{{ class }}">
                    <a href="{{ nav_item.url | url }}" class="nav-link {% if nav_item.active %}active{% endif %}">
                        {{ nav_item.title }}  {% if nav_item.active %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <span class="block lg:ml-3.5">
                <a class="no-underline" href="{{ page.meta.dane_link if page and page.meta.dane_link else config.extra.dane_link }}">
                    <img src="https://www1.ac-grenoble.fr/sites/ac_grenoble/files/site_logo/2020-11/09_logoAC_GRENOBLE_normalWEB.jpg" width="60px"/></a>
            </span>
            <span class="block lg:ml-3.5">
                        <a class="no-underline" href="{{ page.meta.dane_link if page and page.meta.dane_link else config.extra.dane_link }}">
                            <img src="/jaime/images/racad.png" width="80px"/></a>
            </span>
            <span class="block lg:ml-3.5">
                        <a class="no-underline" href="{{ page.meta.acad_link if page and page.meta.acad_link else config.extra.acad_link }}">
                            <img src="/jaime/images/logo_drane.png" width="100px"/>
                        </a>
            </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->