{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32"></header>
<table class="generaltable">
  <tbody>
    <tr><td>9h</td><td colspan="7">☕ Accueil café</td></tr>
    <tr>
  </tbody>
</table>
<h2 style="color:#2b097f;">Ouverture</h2>
<div class="grid grid-cols-1 text-center">
  <table class="generaltable">
    <tbody>
      <tr><td>9h30</td><td colspan="6">Présentation de la journée<br/>
        Historique de Moodle dans l'académie de Grenoble<br/>
        Présentation du projet Éléa<br/>
        Les formations proposées dans l'académie<br/>
        Présentation des ateliers</td></tr>
      <tr>
    </tbody>
  </table>
  </div>
  <h2 style="color:#2b097f;">Ateliers</h2>
  <div class="grid grid-cols-1 text-center">
  <table class="generaltable">
    <thead>
      <tr>
        <th style="background-color: #FFF !important;"></th>
        <th><h4>🗺️ Explorer <br>Amphi</h4></th>
        <th><h4>🔬 Analyser<br>Salle 211</h4></th>
        <th><h4>💬 Échanger <br/>Salle 210</h4></th>
        <th><h4>🔎 S'initier <br/>Salle 209</h4></th>
        <th><h4>🚀 Impulser<br/>Salle 208</h4></th>
        <th><h4>🎒 École<br/>Salle 137</h4></th>
    </thead>  
    <tbody>
      <tr>
      <td>11h -> 11h45</td>
      <td><a href="/jaime/Ateliers/concepteurs/">Réseau des concepteurs, le wikipedia des ressources pédagogiques <br> Rémi LEFEUVRE (Ministère)</a></td>
      <td><a href="/jaime/Ateliers/Metacognition/">Engagement des apprenants dans une démarche métacognitive (degrés de certitude) <br> Christian HOFFMANN, Julien DOUADY (UGA)</td>
      <td><a href="/jaime/Ateliers/caseine/">Caseine en lycée : une plateforme pour l’apprentissage des sciences informatiques<br> Aurélie LAGOUTTE (UGA)</td>
      <td><a href="/jaime/Ateliers/initiation/">Premiers pas avec Éléa : mon premier parcours <br> Johann MOURLON (Formateur Grenoble)</td>
      <td><a href="/jaime/Ateliers/Moodle2Elea/">De moodle à Éléa : changement de pratiques <br> Régis GARNIER (Formateur Grenoble)</td>
      <td></td>
      </tr>
      <tr>
        <td>12h -> 12h45</td>
        <td><a href="/jaime/Ateliers/Simplicite/">Les sources de simplicité introduites dans Éléa<br> Bertrand CHARTIER (DRANE Grenoble)</td>
        <td><a href="/jaime/Ateliers/LabNbook/">LabNbook : cahiers de laboratoire et comptes-rendus de TP<br>Cédric d'HAM (UGA)</td>
        <td><a href="/jaime/Ateliers/SHN/">Moodle pour les sportifs de haut-niveau du Pôle France Ski<br>Pierre POIRIER (Enseignant)</td>
        <td><a href="/jaime/Ateliers/Concevoir/">Concevoir un parcours<br/>Sylvain HAUSARD (Enseignant)</td>
        <td><a href="/jaime/Ateliers/Referents/">Impulser Éléa dans son établissement<br/>Alexandre JAMET (Formateur)</td>
        <td><a href="/jaime/Ateliers/1D/">Éléa à l'école <br> Farah-Fleur GUILLOT (Formatrice)</td>
      </tr>
      <tr><td colspan="7" >Repas</td></tr>
      <tr>
        <td>14h30 -> 15h15</td>
        <td><a href="/jaime/Ateliers/traces/">Suivre le travail des élèves : plus-value pédagogique et exemples<br/>Céline CHAMBON (Formatrice)</td>
        <td><a href="/jaime/Ateliers/EP3C/">Comportement-Cerveau-Cognition à l’ère de la transition numérique<br/>Christine BIDEUX (DRANE Clermont)</td>
        <td><a href="/jaime/Ateliers/objectifs/">Evaluer avec des objectifs, donner le droit à l’erreur <br>Bruno LEBRAT (Enseignant)</td>
        <td><a href="/jaime/Ateliers/Personnalisation/">Personnaliser les parcours et les apprentissages<br>Johann MOURLON (Formateur)</td>
        <td><a href="/jaime/Ateliers/ImpulsionDiscipline/">Impulser Éléa dans sa discipline<br/>Alexandre JAMET (Formateur)</td>
        <td rowspan="2"><a href="/jaime/Ateliers/1D/">Éléa à l'école <br> Farah-Fleur GUILLOT (Formatrice)</a></td>
      </tr>
      <tr>
        <td>15h30 -> 16h15</td>
        <td><a href="/jaime/Ateliers/IA/">L’IA, Éléa et moi<br>Bertrand CHARTIER (DRANE Grenoble)</td>
        <td><a href="/jaime/Ateliers/LudiMoodle/">LudiMoodle: ludification adaptative comme levier de réussite<br>Pascal MÉRIAUX (DRANE Lyon)</td>
        <td><a href="/jaime/Ateliers/engagement/">Favoriser l’engament des élèves<br/>Céline CHAMBON (Formatrice)</td>
        <td><a href="/jaime/Ateliers/H5P/">Créer des activités interactives avec H5P<br/>Régis GARNIER (Formateur)</td>
        <td><a href="/jaime/Ateliers/ABCld/">Scénariser ses parcours avec la méthode ABC Learning Design<br>Frédique BESNARD, François LACOUR (DRANE Grenoble et Lyon)</td>
      </tr>
    </tbody></table>

  </div>

{{ super() }}

{% endblock %}

{% block content %}
{% endblock %}
