<!-- Scripts -->
<script src="/jaime/js/jquery.min.js"></script> <!-- jQuery for JavaScript plugins -->
<script src="/jaime/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/jaime/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/jaime/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/jaime/js/scripts.js"></script> <!-- Custom scripts -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

